body{
  background-color: rgb(236, 231, 231);
  
}
.you{
  color: rgba(14, 13, 13, 0.63);
  padding-top: 650px;
  text-align: center;
  
}
.gh{
  color: rgba(240, 234, 234, 0.63);
  padding-top: 70px;
  padding-left: 50px;
}
.styles{
  text-align: center;
  background-image: linear-gradient(to bottom right,rgb(211, 201, 201),rgb(46, 44, 44));
}

.nj{
  width:100%;
  color:;
}
.leo{
  text-align: center;
  background-image: linear-gradient(to bottom right,rgb(211, 201, 201),rgb(46, 44, 44));
}

.qa{
  color: BLACK;
  text-align: center;
  background-image: linear-gradient(to bottom right,rgb(211, 201, 201),rgb(46, 44, 44));
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
}
.pic{
  background-image: url("https://imgd.aeplcdn.com/0X0/n/cw/ec/49765/rollsroyce-phantom-viii-left-front-three-quarter0.jpeg?q=75");
position: relative;
object-fit: cover;

}
.qw{
  width:100%;
  margin:20px;
}

.brand-list{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 20px;
}
.brand-poster{
  width: 300px;
  object-fit: cover;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}
.allbrands{
  width: 370px; 
}
.tes1{
  padding-left: 350px;
  color: #393c41;
  font-weight: 500;
  font-size: 23px;

}
.tes{

  color: #393c41;
  font-weight: 500;
  font-size: 18px;
  padding: 25px;
  

}
.tes2{
  background-image: linear-gradient(to bottom right,rgb(211, 201, 201),rgb(46, 44, 44));
}


.joy{
  background-color: rgb(197, 190, 190);
}
.tesla{
  width: 650px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
  
  
}
.ishu{
  width:1550px
}

.brand{
  text-align: center;

  color: #393c41;
  font-weight: 500;
  font-size: 28px;
}
.tesla-poster{
  width: 650px;
  object-fit: cover;
  height: 550px;
  
}

.tesla-list{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 20px;
}
.world{
  text-align: center;
  background-color: rgb(41, 39, 39);
  color: rgb(185, 183, 183);
  padding: 30px;
}
.kill{
  text-align: center;
  background-image: linear-gradient(to bottom right,rgb(211, 201, 201),rgb(46, 44, 44));
  opacity: 2.8;
  background-size: cover;
  height:auto;
}
.bmw-poster{
  width: 650px;
  object-fit: cover;
  height: 550px;
}
.bmw{
  width: 650px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
  
 

}
.bmw-list{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.benz-poster{
  width: 650px;
  object-fit: cover;
  height: 550px;
}
.benz{
  width: 650px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
  
 

}
.benz-list{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tata-poster{
  width: 650px;
  object-fit: cover;
  height: 550px;
}
.tata{
  width: 650px;
  border-radius: 12px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
    

}
.tata-list{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hyundai-poster{
  width: 650px;
  object-fit: cover;
  height: 550px;
}
.hyundai{
  width: 650px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
  

}
.hyundai-list{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.jaguar-poster{
  width: 650px;
  object-fit: cover;
  height: 550px;
}
.jaguar{
  width: 650px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
  

}
.jaguar-list{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex{
  display:flex !important;
}
.zee{
  margin-left: 180px;
  
}
.tamil{
  margin-left: 20px;
}
.yaal{
  width: 205px;
  height: 55px;
  background-color: rgb(180, 175, 175)
}
.btn{
  background-color:  rgb(180, 175, 175) !important;
  color:black;
  font-size: medium;
  margin: 10px;
  padding: 10px;
  margin-left: 480px;
}
.customize{
    margin-left: 270px;
    color: black !important;
}
.tesla-poster-modal{
  width: 550px;
  object-fit: cover;
  height: 300px;
  margin-left: 10px;
}
.abd{
    margin-left: 230px;
}

.jh{
    margin-right: 500px;
}
.folks{
  margin-left: 600px;
}
.poo{
  margin-left: 330px;
}
.goo{
  margin-left: 230px;
}
.foo{
  margin-left: 380px;
}
.zoo{
  margin-left: 280px;
}
.qoo{
  margin-left: 250px;
}
.yuvan{
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}
.hug{
  margin-left: 630px !important;
  align-items: center;
  gap: 15px;
}
.header {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 15px;
}

.header__logoImg {
  object-fit: cover;
  flex: 1;
  width: 200px;
 
margin-left: 600px;

}
.header1 {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}
.header__logoImgq {
  object-fit: cover;
  flex: 1;
  width: 180px;
 background-color: aliceblue !important;
margin-left:620px;
padding-left: 3px;
padding-right: 3px;

}
.header__logo1{
display: flex;
}

.header__logoImg1 {
  object-fit: cover;
  flex: 1;
  width: 110px;
 background-color: aliceblue !important;
margin-left:530px;
border-radius: 22px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}
.header2 {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;

}

.header__logoImg2 {
  object-fit: cover;
  flex: 1;
  width: 180px;
 
margin-left: 520px;

}

.header3 {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
}

.header__logoImgw {
  object-fit: cover;
  flex: 1;
  width: 180px;
 background-color: aliceblue !important;
margin-left:620px;


}
.header__logoImg3 {
  object-fit: cover;
  flex: 1;
  width: 150px;
 
margin-left: 540px;

}
.header4 {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
 
}

.header__logoImg4 {
  object-fit: cover;
  flex: 1;
  width: 200px;
 
margin-left: 650px;

}
.header__logoImge {
  object-fit: cover;
  flex: 1;
  width: 180px;
 background-color: aliceblue !important;
margin-left:450px;
padding-left: 3px;
padding-right: 3px;

}
.menuItem {
  border-bottom: 1px solid #d0d1d2;
  text-align: left;
  cursor: pointer;
}

.oii {
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;
}
.menu {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 280px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.header__menu > .MuiSvgIcon-root {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.u1{
  margin-left:185px;
}
.bale{
  display: flex;
}
.hy{
  margin-top: 19px;
}
.headerBlock {
  background: url('https://tesla.com/ns_videos/model-3-social.jpg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.headerBlock1 {
  background: url('https://www.rolls-roycemotorcars.com/content/dam/rrmc/marketUK/rollsroycemotorcars_com/4-0-bespoke/components/D_COLLECTION_OFFGRID_CAROUSEL_LSWRAITH.jpg/jcr:content/renditions/cq5dam.web.1920.webp') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.headerBlock2 {
  background: url('https://www.bmwcartuning.com/wp-content/uploads/2015/05/BMW-M4-by-ADV.1-Wheels-2.jpg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.headerBlock3 {
  background: url('https://ydnews.in/wp-content/uploads/2021/06/MERC-1.jpg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.headerBlock4 {
  background: url('https://supercars.net/blog/wp-content/uploads/2016/02/2016_Jaguar_XFS-0-1024.jpg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.headerBlock5 {
  background: url('https://cars.tatamotors.com/images/altroz/download/1440x900/brochure-img-07_1440_900.jpg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.headerBlock0 {
  background: url('https://imgd.aeplcdn.com/0x0/n/cw/ec/41564/creta-exterior-left-front-three-quarter.jpeg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.headerBlock__info {
  display: flex;
  flex-direction: column;
  height: 560px;
}



.headerBlock__infoText {
  text-align: center;
  flex: 1;
}

.headerBlock__infoText > h1 {
  color: #393c41;
  font-weight: 500;
  font-size: 38px;
}

.headerBlock__infoText > h4 {
  font-weight: 400;
  font-size: 15px;
  color: #393c41;
}

.headerBlock__infoText > h4 > span {
  padding-bottom: 4px;
  padding-top: 15px;
  border-bottom: 1px solid black;
  color: #393c41;
  cursor: pointer;
}

.headerBlock__infoText > h4 > span:hover {
  border-bottom-width: 2px;
  color: black;
}

.headerBlock__actions {
  margin-top: 330px;
  display: flex;
  gap: 20px;
}

.headerBlock__actions > button {
  cursor: pointer;
  border: none;
  width: 260px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
}

.headerBlock__buttonPrimary {
  background-color: #393c41;
  color: white;
  opacity: 0.9;
}

.headerBlock__buttonSecondary {
  background-color: white;
  color: black;
  opacity: 0.8;
}
.headerBlock__infoText3 > h1 {
  color: black;
  font-weight: 500;
  font-size: 38px;
}

.headerBlock__infoText3 > h4 {
  font-weight: 400;
  font-size: 15px;
  color: black;
}

.headerBlock__infoText3 > h4 > span {
  padding-bottom: 4px;
  padding-top: 15px;
  padding-left: 20px;
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
}

.headerBlock__infoText3 > h4 > span:hover {
  border-bottom-width: 2px;
  color: black;
}
.headerBlock__infoText3 {
  text-align: center;
  flex: 1;
}
.headerBlock__infoText2 > h1 {
  color: wheat;
  font-weight: 500;
  font-size: 38px;
}

.headerBlock__infoText2 > h4 {
  font-weight: 400;
  font-size: 15px;
  color: wheat;
}

.headerBlock__infoText2 > h4 > span {
  padding-bottom: 4px;
  padding-top: 15px;
  padding-left: 20px;
  border-bottom: 1px solid black;
  color: wheat;
  cursor: pointer;
}

.headerBlock__infoText2 > h4 > span:hover {
  border-bottom-width: 2px;
  color: wheat;
}
.headerBlock__infoText2 {
  text-align: center;
  flex: 1;
}
